<%- include('header'); %>
<%- include('sidebar/left'); %>
<div id="content">
    <%- include('helpers/alerts.ejs'); %>
    <h3 class="text-center text-light mt-4">
        Jelszóváltoztatás
    </h3>
    <form method="POST" action="/changepassword/<%= secret %>">
        <div class="mb-3 mt-5">
            <input type="password" class="form-control" id="password-input" name="password" placeholder="új jelszó">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Jelszó mentése</button>
        </div>
    </form>
</div>
<%- include('sidebar/right'); %>
<%- include('footer'); %>