<%- include('header'); %>
<%- include('sidebar/left'); %>
<div id="content">
    <%- include('helpers/alerts.ejs'); %>
    <h3 class="text-center text-light mt-4">
        Tweet módosítása
    </h3>
    <form method="POST" action="/updateTweet/<%= tweet.id %>">
        <div class="mb-3 mt-5">
            <textarea class="form-control" name="content" rows="3" placeholder="Tweet szövege" required><%= tweet.content %></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Mentés</button>
        </div>
    </form>
</div>
<%- include('sidebar/right'); %>
<%- include('footer'); %>